{% extends 'base.html' %} {% block content %}

<div class="breadcrumb">
  <a href="{% url 'finder' %}"> Home </a>

  {% for crumb in breadcrumbs %}

  <span>/</span>

  <a href="{% url 'folder_detail' crumb.id %}"> {{ crumb.name }} </a>

  {% endfor %}

  <span>/</span>

  {{ file.name }}
</div>

<h1 class="page-title">{{ file.name }}</h1>

{% if file.file_type == "image" %}

<img
  src="{{ file.image.url }}"
  alt="{{ file.name }}"
  class="project-image"
  id="lightbox-trigger"
/>

<div id="lightbox">
  <span id="close-lightbox">✕</span>

  <img src="{{ file.image.url }}" alt="{{ file.name }}" id="lightbox-image" />
</div>

{% elif file.file_type == "text" %}

<div class="text-viewer">
  <div class="text-viewer-header">📄 {{ file.name }}</div>

  <pre>{{ file.content }}</pre>
</div>

{% elif file.file_type == "pdf" %}

<div class="text-viewer">
  <div class="text-viewer-header">📕 {{ file.name }}</div>

  <div style="padding: 30px; text-align: center">
    <div class="file-icon">📕</div>

    <p>{{ file.name }}</p>

    <br />

    <a href="{{ file.pdf.url }}" target="_blank"> Open PDF </a>
  </div>
</div>

{% endif %} {% endblock %}
